<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redeyesncode.pickmeredeyesncode" >
    <!-- THESE TWO PERMISSION ARE NEEDED IN ORDER TO GET THE IMAGE FROM THE GALLERY. -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".PickImageFromGallery"
            android:exported="false" />
        <activity
            android:name=".PreviewActivity"
            android:exported="false" />
    </application>

</manifest>